<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionSeminarioIntegrador"
        android:usesCleartextTraffic="true"
        tools:targetApi="35">
        <activity
            android:name=".view.Warning"
            android:exported="false" />
        <activity
            android:name=".view.RegisterAccountNextStep"
            android:exported="false" />
        <activity
            android:name=".view.RegisterAccountNext"
            android:exported="false" />
        <activity
            android:name=".view.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".view.SelectRegisterUser"
            android:exported="false" />
        <activity
            android:name=".CancelAcoount"
            android:exported="false" />
        <activity
            android:name=".view.AccessHistory"
            android:exported="false" />
        <activity
            android:name=".view.EditVisibility"
            android:exported="false" />
        <activity
            android:name=".view.ProfileAccount"
            android:exported="false" />
        <activity
            android:name=".view.ModifyUsers"
            android:exported="false" />
        <activity
            android:name=".view.NotificationsUsersAccount"
            android:exported="false" />
        <activity
            android:name=".view.MenuApplicationResidente"
            android:exported="false" />
        <activity
            android:name=".view.MailOrWhatsapp"
            android:exported="false" />
        <activity
            android:name=".view.GeneradorQR"
            android:exported="false" />
        <activity
            android:name=".view.LectorQR"
            android:exported="false" />
        <activity
            android:name=".view.VisitorsRegister"
            android:exported="false" />
        <activity
            android:name=".view.UserInformationLogin"
            android:exported="false" />
        <activity
            android:name=".view.EmergencyCall"
            android:exported="false" />
        <activity
            android:name=".view.RegisterSucessful"
            android:exported="false" />
        <activity
            android:name=".view.OptionsActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterAccount"
            android:exported="false" />
        <activity
            android:name=".view.StartApplication"
            android:exported="false" />
        <activity
            android:name=".view.MenuAplication"
            android:exported="false" />
        <activity
            android:name=".view.CreditsAplication"
            android:exported="false" />
        <activity
            android:name=".view.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>